In [1]:
import pandas as pd
import numpy as np

1. Understand the type of data.
2. Identify the output variable.

In [2]:
train_df = pd.read_csv("Dataset/train.csv", nrows=100000)
test_df = pd.read_csv("Dataset/test.csv")

In [3]:
train_df.head()

,key,fare_amount,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count
0,2009-06-15 17:26:21.0000001,4.5,2009-06-15 17:26:21 UTC,-73.844311,40.721319,-73.841610,40.712278,1
1,2010-01-05 16:52:16.0000002,16.9,2010-01-05 16:52:16 UTC,-74.016048,40.711303,-73.979268,40.782004,1
2,2011-08-18 00:35:00.00000049,5.7,2011-08-18 00:35:00 UTC,-73.982738,40.761270,-73.991242,40.750562,2
3,2012-04-21 04:30:42.0000001,7.7,2012-04-21 04:30:42 UTC,-73.987130,40.733143,-73.991567,40.758092,1
4,2010-03-09 07:51:00.000000135,5.3,2010-03-09 07:51:00 UTC,-73.968095,40.768008,-73.956655,40.783762,1

In [4]:
train_df.shape

(100000, 8)

In [5]:
test_df.head()

,key,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count
0,2015-01-27 13:08:24.0000002,2015-01-27 13:08:24 UTC,-73.973320,40.763805,-73.981430,40.743835,1
1,2015-01-27 13:08:24.0000003,2015-01-27 13:08:24 UTC,-73.986862,40.719383,-73.998886,40.739201,1
2,2011-10-08 11:53:44.0000002,2011-10-08 11:53:44 UTC,-73.982524,40.751260,-73.979654,40.746139,1
3,2012-12-01 21:12:12.0000002,2012-12-01 21:12:12 UTC,-73.981160,40.767807,-73.990448,40.751635,1
4,2012-12-01 21:12:12.0000003,2012-12-01 21:12:12 UTC,-73.966046,40.789775,-73.988565,40.744427,1

In [6]:
test_df.shape

(9914, 7)

In [7]:
print(train_df.columns)
print(test_df.columns)

Index(['key', 'fare_amount', 'pickup_datetime', 'pickup_longitude',
       'pickup_latitude', 'dropoff_longitude', 'dropoff_latitude',
       'passenger_count'],
      dtype='object')
Index(['key', 'pickup_datetime', 'pickup_longitude', 'pickup_latitude',
       'dropoff_longitude', 'dropoff_latitude', 'passenger_count'],
      dtype='object')

- We have identified 'fare_amount' as our target variable.

In [8]:
train_df.describe()

,fare_amount,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count
count,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000
mean,11.354652,-72.494682,39.914481,-72.490967,39.919053,1.673820
std,9.716777,10.693934,6.225686,10.471386,6.213427,1.300171
min,-44.900000,-736.550000,-74.007670,-84.654241,-74.006377,0.000000
25%,6.000000,-73.992041,40.734996,-73.991215,40.734182,1.000000
50%,8.500000,-73.981789,40.752765,-73.980000,40.753243,1.000000
75%,12.500000,-73.966982,40.767258,-73.963433,40.768166,2.000000
max,200.000000,40.787575,401.083332,40.851027,404.616667,6.000000

In [9]:
test_df.describe()

,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count
count,9914.000000,9914.000000,9914.000000,9914.000000,9914.000000
mean,-73.974722,40.751041,-73.973657,40.751743,1.671273
std,0.042774,0.033541,0.039072,0.035435,1.278747
min,-74.252193,40.573143,-74.263242,40.568973,1.000000
25%,-73.992501,40.736125,-73.991247,40.735254,1.000000
50%,-73.982326,40.753051,-73.980015,40.754065,1.000000
75%,-73.968013,40.767113,-73.964059,40.768757,2.000000
max,-72.986532,41.709555,-72.990963,41.696683,6.000000

In [10]:
train_df["pickup_datetime"]=pd.to_datetime(train_df['pickup_datetime'])
test_df["pickup_datetime"]=pd.to_datetime(test_df['pickup_datetime'])

In [11]:
train_df.corr()

,fare_amount,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count
fare_amount,1.000000,0.008975,-0.008952,0.006322,-0.005587,0.015804
pickup_longitude,0.008975,1.000000,-0.946674,0.937559,-0.911016,-0.001342
pickup_latitude,-0.008952,-0.946674,1.000000,-0.926534,0.930183,-0.000920
dropoff_longitude,0.006322,0.937559,-0.926534,1.000000,-0.963604,-0.000380
dropoff_latitude,-0.005587,-0.911016,0.930183,-0.963604,1.000000,-0.002173
passenger_count,0.015804,-0.001342,-0.000920,-0.000380,-0.002173,1.000000

5. Count the null values existing in columns.

In [12]:
train_df.isnull().sum()

key                  0
fare_amount          0
pickup_datetime      0
pickup_longitude     0
pickup_latitude      0
dropoff_longitude    0
dropoff_latitude     0
passenger_count      0
dtype: int64

In [13]:
test_df.isnull().sum()

key                  0
pickup_datetime      0
pickup_longitude     0
pickup_latitude      0
dropoff_longitude    0
dropoff_latitude     0
passenger_count      0
dtype: int64

- There is no null values in data set.

In [14]:
train_df.drop(["key","pickup_datetime"], axis=1, inplace=True)
test_df.drop(["key","pickup_datetime"], axis=1, inplace=True)

6. Perform train test split.

In [15]:
from sklearn.model_selection import train_test_split

In [16]:
X = train_df.drop('fare_amount',axis=1)
y = train_df['fare_amount']

In [17]:
X_train, X_test, y_train , y_test = train_test_split(X, y , test_size = 0.2 , random_state = 21)

7. Predict the accuracy using regression models.

## Linear Regression

In [18]:
from sklearn.linear_model import LinearRegression

In [19]:
model_lr = LinearRegression()

In [20]:
model_lr.fit(X_train , y_train)

LinearRegression()

In [21]:
print("The intercept for the Linear regression model that was fit on the boston training dataset is", model_lr.intercept_)

The intercept for the Linear regression model that was fit on the boston training dataset is 11.636738393334717

In [22]:
print("The regression co-efficient values for all the 13 features of boston training dataset is ")
print(model_lr.coef_)

The regression co-efficient values for all the 13 features of boston training dataset is
[ 0.00839177 -0.03192168 -0.00377019  0.02825673  0.11033389]

In [23]:
y_test_pred = model_lr.predict(X_test)

In [24]:
from sklearn.metrics import mean_squared_error
lrmodelrmse = np.sqrt(mean_squared_error(y_test,y_test_pred))
print("RMSE value for Linear regression is", lrmodelrmse)

RMSE value for Linear regression is 9.64265117696675

## Ridge Regression

In [25]:
from sklearn.linear_model import Ridge

In [26]:
ridge_reg_model = Ridge(alpha=0.02)

In [27]:
ridge_reg_model.fit(X_train , y_train)

Ridge(alpha=0.02)

In [28]:
y_test_pred = ridge_reg_model.predict(X_test)

print("The RMSE value of the Ridge model on testing dataset is : ")
print(np.sqrt(mean_squared_error(y_test , y_test_pred)))

The RMSE value of the Ridge model on testing dataset is :
9.642651177085542

In [29]:
y_train_pred = ridge_reg_model.predict(X_train)

print("The RMSE value of the Ridge model on training dataset is : ")
print(np.sqrt(mean_squared_error(y_train , y_train_pred)))

The RMSE value of the Ridge model on training dataset is :
9.732757417533536

## Lasso Regression

In [30]:
from sklearn.linear_model import Lasso

In [31]:
lasso_reg_model = Lasso(alpha = 0.02)
lasso_reg_model.fit(X_train, y_train)

Lasso(alpha=0.02)

In [32]:
y_test_pred = lasso_reg_model.predict(X_test)

print("The RMSE value of the Lasso model on testing dataset is : ")
print(np.sqrt(mean_squared_error(y_test , y_test_pred)))

The RMSE value of the Lasso model on testing dataset is :
9.642817704906651

In [33]:
y_train_pred = lasso_reg_model.predict(X_train)

print("The RMSE value of the Ridge model on training dataset is : ")
print(np.sqrt(mean_squared_error(y_train , y_train_pred)))

The RMSE value of the Ridge model on training dataset is :
9.732783786573437

## ElasticNet Regression

In [34]:
from sklearn.linear_model import ElasticNet

In [35]:
elasnet_reg_model = ElasticNet(alpha = 0.001)
elasnet_reg_model.fit(X_train, y_train)

ElasticNet(alpha=0.001)

In [36]:
y_test_pred = elasnet_reg_model.predict(X_test)

print("The RMSE value of the Lasso model on testing dataset is : ")
print(np.sqrt(mean_squared_error(y_test , y_test_pred)))

The RMSE value of the Lasso model on testing dataset is :
9.642655026095012

In [37]:
y_train_pred = elasnet_reg_model.predict(X_train)

print("The RMSE value of the Ridge model on training dataset is : ")
print(np.sqrt(mean_squared_error(y_train , y_train_pred)))

The RMSE value of the Ridge model on training dataset is :
9.732757436542967

## XGBoost

In [38]:
import xgboost as xgb

In [39]:
xgb_r = xgb.XGBRegressor(objective ='reg:linear', n_estimators = 10)

In [40]:
xgb_r.fit(X_train, y_train)

[09:49:20] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.5.1/src/objective/regression_obj.cu:188: reg:linear is now deprecated in favor of reg:squarederror.

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=1, enable_categorical=False,
             gamma=0, gpu_id=-1, importance_type=None,
             interaction_constraints='', learning_rate=0.300000012,
             max_delta_step=0, max_depth=6, min_child_weight=1, missing=nan,
             monotone_constraints='()', n_estimators=10, n_jobs=12,
             num_parallel_tree=1, objective='reg:linear', predictor='auto',
             random_state=0, reg_alpha=0, reg_lambda=1, scale_pos_weight=1,
             subsample=1, tree_method='exact', validate_parameters=1,
             verbosity=None)

In [41]:
y_train_pred_xgb = xgb_r.predict(X_train)

In [42]:
print("The RMSE value of the model on training dataset is : ")
print(np.sqrt(mean_squared_error(y_train , y_train_pred_xgb)))

The RMSE value of the model on training dataset is :
4.8278103274926725

In [43]:
y_train_pred_xgb = xgb_r.predict(test_df)

In [44]:
pd.DataFrame({"Model Predictions For Test Dataset" :  y_train_pred_xgb})

      Model Predictions For Test Dataset
0                               7.849453
1                               8.630437
2                               7.854721
3                               7.854721
4                               8.490284
...                                  ...
9909                            8.093986
9910                            8.291861
9911                           49.986607
9912                           14.939305
9913                            7.854721

[9914 rows x 1 columns]